.container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: inline-block;
    position: absolute;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 10px;
}

.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    margin-left: 230px;
    margin-top: -315px;
    padding: auto;
    position: 10px;
    vertical-align: 90%;
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    padding: 1px;
    margin: 8px;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: inline-block;
    margin: 25px;
}